/* header */
.header .container .inner-wrap ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.header .container .inner-wrap ul a {
    font-size: 13px;
    font-weight: 500;
}

.header .container .inner-wrap ul a:hover {
    color: var(--color-2);
}

.header .container .inner-wrap ul li:nth-child(7) a {
    padding-right: 0px;
}

.header .inner-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    background-color: var(--color-5);
    border-radius: 95px;
    gap: 40px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
}

.header .container .inner-wrap ul a {
    padding: 0px 20px;
}

.header {
    /* background-color: orange; */
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header .inner-wrap img {
    cursor: pointer;
    padding-right: 0px;
}
.header .inner-wrap .inner-bar{
    display: none;
}
.header .container {
    /* width: 100%;
    max-width: 1110px; */
    padding-top: 50px;
}

@media (max-width: 1199.98px){
    .header .container .inner-wrap ul a{
        padding: 0px 15px;
    }
    .header .container .inner-wrap{
        padding: 25px;
    }
}
@media (max-width: 991.98px){
    .header .container .inner-wrap ul{
        display: none;
    }
    .header .container .inner-wrap .inner-bar{
        display: block;
    }
    .header .container .inner-wrap{
        justify-content: space-between;
    }
    .header .container .inner-wrap .inner-bar a{
        font-size: 20px;
    }
}
/* end header */

/* section 1 */
.section-1 {
    background-image: url(../image/banner-bg.png);
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.section-1 .row {
    position: relative;
}

.section-1 .col-xl-12 {
    position: absolute;
    top: 374px;
}

.section-1 .inner-title {
    text-align: center;
    font-size: 32px;
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
}

.section-1 .inner-desc {
    text-align: center;
    font-size: 15px;
    color: white;
    margin-bottom: 40px;
}

/* end section 1 */

/* button */
.inner-button a {
    padding: 12px 20px;
    background-color: var(--color-2);
    color: white;
    font-size: 13px;
    border-radius: 20px;
}

.inner-button a:hover {
    background-color: var(--color-1);
}

/* end button */

/* section 2 */
.section-2 {
    padding: 100px;
    background-color: var(--color-5);
    padding-bottom: 80px;
    max-height: 990px;
}
.section-2 .row .col-xl-4 .inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    position: relative;
    top: -295px;
    z-index: 3;
    background: var(--color-5);
}

.section-2 .row .col-xl-4 .inner-box img {
    padding: 20px;
    border-radius: 50%;
    background-color: var(--color-1);
    margin-bottom: 30px;
}
.section-2 .row .col-xl-4 .inner-box img:hover{
    background-color: var(--color-2);
}

.section-2 .row .col-xl-4 .inner-box .inner-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.section-2 .row .col-xl-4 .inner-box .inner-desc {
    font-size: 13px;
    color: var(--color-3);
}
.section-2 .col-xl-6 .inner-image img{
    color: var(--color-1);
}
.section-2 .col-xl-6{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-2 .col-xl-6 .inner-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}
.section-2 .col-xl-6 .inner-desc{
    font-size: 16px;
    color: var(--color-3);
}
.section-2 .box{
    position: relative;
    top: -218px;
}
.section-2 .col-xl-12{
    margin-top: 50px;
    margin-bottom: 50px;
}
@media (max-width: 1199.98px){
    .section-2 .re-size{
        max-height: 900px;
    }
}
@media (max-width: 991.98px){
    .section-2 .row .col-xl-4 .inner-box {
        top: -230px;
        margin-bottom: 25px;
    }
    .section-2 .row{
        margin-top: 80px;
    }
    .section-2{
        padding-bottom: 80px;
        min-height: 1740px;
    }
    .section-2 .inner-element-4 .inner-image{
        margin-bottom: 40px;
    }
    .section-2 .inner-element-4 .inner-desc{
        margin-bottom: 40px;
    }
    .section-2 .box{
        top: -240px;
    }
}
@media (max-width: 767.98px){
    .section-2{
        /* max-width: 570px; */
        padding: 20px 20px;
        padding-top: 50px;
        
    }
    .section-2 .inner-box{
        max-width: 240px;
    }
}
@media (max-width: 575.98px){
    .section-2 .inner-box{
        max-width: 464px;
        margin-right: auto;
        margin-left: auto;
        padding: 150px 0px;
    }
    .section-3{
        margin-top: 450px;
    }
    .section-2 .inner-element-5 .inner-content{
        max-width: 440px;
    }
    .section-2 .inner-element-6 .inner-content{
        max-width: 440px;
    }
}

/* end section 2 */

/* section 3 */
.section-3{
    background-image: url(../image/work-process-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-3 .row{
    padding: 100px 0px;
}
.section-3 .row .col-xl-12:nth-child(1){
    font-size: 28px;
    color: var(--color-5);
    font-weight: 500;
    margin-bottom: 30px;
}
.section-3 .row .col-xl-12:nth-child(2){
    font-size: 15px;
    color: var(--color-5);
    margin-bottom: 40px;
}
.section-3 .row .col-xl-2 .inner-box{
    background-color: var(--color-5);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-align: center;
    box-shadow: 10px 13px 0 1px var(--color-6);
    transition: transform 0.3s ease;
}
.section-3 .row .col-xl-2 .inner-box:hover{
    transform: scale(1.1);
}
.section-3 .row .col-xl-2 .inner-box img{
    margin-bottom: 15px;
}
.section-3 .row .col-xl-2 .inner-box .inner-title{
    color: var(--color-4);
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}
.section-3 .row .col-xl-2 .inner-box .inner-desc{
    color: var(--color-3);
    font-size: 14px;
}
@media (max-width: 991.98px){
    .section-3 .inner-box{
        margin-bottom: 30px;
    }
}
/* end section 3 */

/* section 4 */
.section-4 .row{
    padding: 100px 0px;
}
.section-4 .inner-box{
    padding: 25px;
    background-color: var();
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    border-radius: 20px;
}
.section-4 span{
    color: var(--color-2);
}
.section-4 .col-xl-12 .inner-title{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}
.section-4 .col-xl-12 .inner-desc{
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--color-3);
}
.section-4 .col-xl-4 .inner-desc{
    margin: 25px 0px;
}
.section-4 .col-xl-4 .inner-title span:nth-child(1){
    color: var(--color-4);
    font-weight: 450;
}
.section-4 .col-xl-4 .inner-title{
    transition: transform 0.3s ease;
}
.section-4 .col-xl-4 .inner-title:hover{
    transform: translateX(20px);
}
@media (max-width: 991.98px){
    .section-4 .inner-box{
        margin-bottom: 30px;
    }
}
/* end section 4 */

/* section 5 */
.section-5{
    background-color: var(--color-7);
    padding: 100px 0px;
}
.section-5 .row .col-xl-12 .inner-title{
    font-size: 28px;
    color: var(--color-4);
    font-weight: 450;
    margin-bottom: 20px;
}
.section-5 .row .col-xl-12 .inner-desc{
    font-size: 15px;
    color: var(--color-3);
    font-weight: 400;
    margin-bottom: 40px;
}
.section-5 .inner-box{
    padding: 40px;
    background-color: var(--color-5);
    border-radius: 20px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
}
.section-5 .col-xl-4 .inner-box .inner-title{
    font-size: 17px;
    color: var(--color-4);
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.section-5 .col-xl-4 .inner-mini-box{
    padding-top: 20px;
    padding-bottom: 13px;
    background-color: var(--color-1);
    border-radius: 20px;
    margin-bottom: 40px;
}
.section-5 .col-xl-4 .inner-mini-box .inner-price{
    text-align: center;
    color: var(--color-5);
}
.section-5 .size-28{
    font-size: 28px;
    font-weight: 600;
}
.section-5 .size-32{
    font-size: 32px;
    font-weight: 600;
}
.section-5 .col-xl-4 .inner-desc{
    color: var(--color-3);
    font-size: 13px;
    text-align: center;
    margin-bottom: 40px;
}
.section-5 .col-xl-4 .inner-desc span{
    display: inline-block;
    margin-bottom: 12px;
}
.section-5 .col-xl-4 .inner-desc .mid-line{
    text-decoration: line-through;
}
.section-5 .bg-color-pink{
    background-color: var(--color-2) !important;
}
.inner-button-1 a{
    background-color: var(--color-1);
}
.inner-button-1 a:hover{
    background-color: var(--color-2);
}
@media (max-width: 991.98px){
    .section-5 .inner-box{
        margin-bottom: 30px;
    }
}
/* end section 5 */

/* section 6 */
.section-6 {
    padding: 120px 0px;
    background-image: url(../image/fun-facts-bg.png);
    background-position: center;
    background-size: cover;
}
.section-6 .row{
    align-items: center;
    justify-content: space-evenly;
}
.section-6 .row .inner-content-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.3s ease;
}
.section-6 .row .inner-content-box:hover{
    transform: translateY(-20px);
}
.section-6 .row .inner-content-box .inner-title{
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--color-5);
    font-weight: 700;
}
.section-6 .row .inner-content-box .inner-desc{
    font-size: 17px;
    color: var(--color-5);
    font-weight: 600;
}
.section-6 .move{
    position: relative;
}
.section-6 .move img{
    position: absolute;
    top: -19px;
    left: -22px;
}
@media (max-width: 991.98px){
    .section-6 .inner-image-box img{
        display: none;
    }
}
@media (max-width: 767.98px){
    .section-6 .row{
        flex-direction: column;
    }
    .section-6 .inner-content-box{
        margin-bottom: 30px;
    }
}
/* end section 6 */

/* section 7 */
.section-7{
    padding: 100px 0px;
}
.section-7 .col-xl-12:nth-child(1){
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 500;
}
.section-7 .col-xl-12:nth-child(2){
    font-size: 15px;
    color: var(--color-3);
    margin-bottom: 40px;    
}
.section-7 .col-xl-4 .inner-image{
    width: 100%;
    aspect-ratio: 16/10;
    margin-bottom: 20px;
}
.section-7 .col-xl-4 .inner-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.section-7 .col-xl-4 .inner-box .inner-title{
    font-size: 18px;
    font-weight: 600;
    color: var(--color-4);
    margin-bottom: 20px;
}
.section-7 .col-xl-4 .inner-box .inner-title:hover{
    color: var(--color-2);
    cursor: pointer;
}
.section-7 .col-xl-4 .inner-box .inner-desc{
    font-size: 13px;
    color: var(--color-3);
    margin-bottom: 30px;
}
@media (max-width: 1199.98px){
    .section-7 .col-xl-4 .inner-image img{
        border-radius: 20px;
    }
}
@media (max-width: 991.98px){
    .section-7 .col-xl-4 .inner-box{
        margin-bottom: 30px;
    }
}

/* end section 7 */

/* section 8 */
.section-8{
    background-color: var(--color-7);
    padding: 100px 0px;
}
.section-8 .inner-title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
.section-8 .inner-desc{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--color-3);
}
.section-8 .inner-title-1{
    font-size: 18px;
    font-weight: 600;
}
.section-8 .inner-desc-1{
    font-size: 14px;
    color: var(--color-3);
}
.section-8 input{
    border-radius: 30px;
    padding: 6px 20px;
    height: 50px;
    margin-bottom: 15px;
}
.section-8 textarea{
    resize: none;
    border-radius: 30px;
    height: 150px;
    padding: 20px;
}

.section-8 .inner-button{
    margin-top: 30px;
    position: relative;
    left: -100px;
}
.section-8 .hide-desc{
    display: none;
}
@media (max-width: 1199.98px){
    .section-8 .inner-button{
        left: -70px;
    }
}
@media (max-width: 991.98px){
    .section-8 .inner-button{
        left: -36px;
    }
}
@media (max-width: 767.98px){
    .section-8 .inner-desc-1{
        display: none;
    }
    .section-8 .hide-desc{
        display: inline-block;
        font-size: 14px;
        color: var(--color-3);
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .section-8 input{
        margin-bottom: 5px;
    }
    .section-8 .inner-button{
        left: 0px;
    }
}
/* end section 8 */

/* footer */
footer{
    padding: 30px 0px;
    background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
footer ul li{
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-5);
    margin: 0px 12px;
    border-radius: 50%;
    font-size: 16px;
}
footer li a{
    color: var(--color-8);
}
footer li:hover{
    background-color: var(--color-2);
}
footer li:hover a{
    color: var(--color-5);
}
footer .copy-right{
    color: var(--color-5);
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 10px;
    font-size: 13px;
}

/* end footer */
